{%extends "base.html"%}
        {%block main%}
        <section id="content">
            <div class="container" style="padding-bottom: 30px;">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel" style="margin-bottom: 0px;">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    <i class="glyphicons glyphicons-crown"></i>
                                    <span>&nbsp;{{contest.title}}</span>
                                </div>
                                <ul class="nav panel-tabs">
                                    <li>
                                        <a href="../">Problems</a>
                                    </li>
                                    <li>
                                        <a href="../submissions">Submissions</a>
                                    </li>
                                    <li class="active">
                                        <a href="../ranklist" data-toggle="tab">Ranklist</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="panel-body container" style="padding-bottom: 30px;">
                                <div class="tab-content padding-none border-none">
                                    <div id="tab1" class="tab-pane active">
                                        <div class="row">
                                            <h1 class="text-center">Ranklist</h1>
                                        </div>
                                        <hr class="short" />
                                        <table class="table table-striped1 text-center" id="submission_table">
                                            <thead>
                                                <tr>
                                                    <td style="width:5%">Rank</td>
                                                    <td style="width:10%">Team</td>
                                                    <td style="width:5%">Solved</td>
                                                    <td style="width:10%">Penalty</td>
                                                    {% for p in problems %}
                                                    <td>{{"ABCDEFGHIJKLMNOPQRSTUVWXYZ"[loop.index-1]}}</td>
                                                    {% endfor %}
                                                </tr>
                                            </thead>
                                            <tbody id="submission_table_body">
                                                {% for c in contestants %}
                                                <tr>
                                                    <td style="vertical-align:middle">{{c.rank}}</td>
                                                    <td style="vertical-align:middle">{{c.username}}</td>
                                                    <td style="vertical-align:middle">{{c.accepted}}</td>
                                                    <td style="vertical-align:middle">{{c.penalty}}</td>
                                                    {% for p in c.problems.items() %}
                                                    <td style="vertical-align:middle">
                                                    {% if p[1].accepted == True %}
                                                    {{p[1].accepted_time}}
                                                    {% endif %}
                                                    {% if p[1].attempt > 0 and p[1].accepted == True %}
                                                    <br />
                                                    {% endif %}
                                                    {% if p[1].attempt > 0 %}
                                                    (-{{p[1].attempt}})
                                                    {% endif %}
                                                    </td>
                                                    {% endfor %}
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {%endblock%}
    {%block script%}
    <script type="text/javascript">
        jQuery(document).ready(function() {
            Core.init();
            HJ();

            // coloring
            $("#submission_table_body").children().each(function(){
                var username = $($(this).children()[1]).text();
                if(username.indexOf("_HJ_")>=0){
                    username = username.replace('_HJ_', "<img src='/static/img/logos/HJ-small.png' style='height: 14px;margin-top: 2px;vertical-align:top;'>&nbsp;");
                    $($(this).children()[1]).html(username);
                }
            });

        });
    </script>
    {%endblock%}
