{%extends "base.html"%}
        {%block main%}
        <section id="content">
            <div class="container" style="padding-bottom: 30px;">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel" style="margin-bottom: 0px;">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    <i class="glyphicons glyphicons-crown"></i>
                                    <span>&nbsp;{{contest.title}}</span>
                                </div>
                                <ul class="nav panel-tabs">
                                    <li>
                                        <a href="../../">Problems</a>
                                    </li>
                                    <li>
                                        <a href="../../submissions">Submissions</a>
                                    </li>
                                    <li>
                                        <a href="../../ranklist">Ranklist</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="panel-body container" style="padding-bottom: 30px;">
                                <div class="tab-content padding-none border-none">
                                    <div id="tab1" class="tab-pane active">
                                        <div class="row">
                                            <h1 class="text-center">Code</h1>
                                        </div>
                                        <hr class="short" />
                                        <pre class="prettyprint">{{submission.code}}</pre>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {%endblock%}
    {%block script%}
    <script type="text/javascript">
        jQuery(document).ready(function() {
            Core.init();
            SCPC();
            prettyPrint();

        });
    </script>
    {%endblock%}
