{% extends "base.html" %}
        {%block main%}
        <section id="content">
            <div class="container"  style="padding-top: 15px;">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Welcome to ACM Training System !</h1>
                    </div>
                </div>
                <hr class="short" />
                <div class="row">
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-12"></div>
                            <div class="col-md-12">
                            </div>
                            <div class="col-md-12">
                            </div>
                            <div class="col-md-12">
                                <div class="panel">
                                    <div class="panel-heading">
                                        <div class="panel-title">
                                            <i class="fa fa-bar-chart-o"></i>News</div>
                                    </div>
                                    <div class="panel-body">
                                        <table class="table table-hover table-striped1 text-center">

                                            <tbody>
                                                {% for news in news_list %}
                                                <tr>
                                                    <td><a href="javascript:open_news({{news.id}});">{{news.title}}</a></td>
                                                    <td>{{news.publish_time}}</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-12 visible-md visible-lg" id="timeline-widget">
                                <input class="hidden search form-control" />
                                <ul class="timeline-widget list">
									
                                    {%  for item in status %}
                                    <li class="media">
                                        <div class="timeline-icon">
											{%  if item.result=='Accepted' %}
                                            <span class="glyphicons glyphicons-circle_ok text-red"></span>
                                            {%  else %}
                                            <span class="glyphicons glyphicons-circle_info text-green"></span>
                                            {%  endif %}
                                        </div>
                                        <div class="media-body">
                                            <b>{{item.username}}</b>&nbsp;
                                            {%  if item.result=='Accepted' %}
                                            Solved
                                            {%  else %}
                                            Tried
                                            {%  endif %}
                                            <a href='/problem/{{item.problem_id}}/'><b> {{item.problem_title}} </b></a>
                                            <span class="HJ_time" title="{{item.submit_time}}">{{item.submit_time}}</span>
                                        </div>
                                    </li>
                                    {%  endfor %}  
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {%endblock%}

    {%block script%}
    <script type="text/javascript">
        jQuery(document).ready(function() {
            // Init Theme Core    
            Core.init();
            HJ();
            $(".HJ_time").timeago();
        });

        //replace _HJ_
        $(".media-body b").each(function(value){
            var username = $(this).text();
            if(username.indexOf("_HJ_")>=0){
                username = username.replace('_HJ_', "<img src='/static/img/logos/HJ-small.png' style='height: 14px;margin-top: 2px;vertical-align:top;'>&nbsp;");
                $(this).html(username);
            }
        });

        // news window
        function open_news(id){
            $.getJSON("news/get/"+id, function(data){
                $('#news_window_title').text(data.title)
                $('#news_window_publish_time').text(data.publish_time)
                $('#news_window_content').text(data.content)
                $('#news_window').modal();
            });
        }
    </script>
<div class="modal fade" id="news_window" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      
      <div class="modal-body">
        <div class="alert alert-info alert-dismissable">
            <h2 class="text-center" id="news_window_title"></h2>
            <div class="text-center" id="news_window_publish_time"></div>
        </div>
        <div id="news_window_content">
        </div>
      </div>
    </div>
  </div>
</div>
    {%endblock%}

