{%extends "base.html"%}
        <style type="text/css" media="screen">
            pre{text-align: left}
        </style>
        {%block main%}
        <section id="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1>{{problem.title|safe}}</h1>
                        <b>Time Limit:</b><span>{{problem.time_limit|safe}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Memory Limit:</b><span>{{problem.memory_limit|safe}}</span>
                    </div>
                </div>
                <hr class="short" />
                <div class="row">
                    <div class="col-md-12">
                        <div class="tab-block margin-bottom-lg">
                            <div class="tab-content">
                                <div id="tab-problem" class="tab-pane active">
                                    <h3>Description</h3>
                                    <!--<div class="well">-->
                                    <div>
                                        <div id="tab-problem-content">
                                            <pre>
                                                {{problem.description|safe}}
                                            </pre>
                                        </div>
                                    </div>
                                    <h3>Input</h3>
                                    <div class="">
                                        <div id="tab-problem-content">
                                            <pre>
                                            {{problem.input|safe}}   
                                            </pre>
                                        </div>
                                    </div>
                                    <h3>Output</h3>
                                    <div class="">
                                        <div id="tab-problem-content">
                                            <pre>
                                            {{problem.output|safe}}
                                            </pre>
                                        </div>
                                    </div>
                                    <h3>Sample Input</h3>
                                    <div class="">
                                        <div id="tab-problem-content">
                                            <pre>
                                            {{problem.sample_input|safe}}
                                            </pre>
                                        </div>
                                    </div>
                                    <h3>Sample Output</h3>
                                    <div class="">
                                        <div id="tab-problem-content">
                                            <pre>
                                            {{problem.sample_output|safe}}
                                            </pre>
                                        </div>
                                    </div>
                                    <h3>Hint</h3>
                                    <div class="">
                                        <div id="tab-problem-content">
                                            <pre>
                                            {{problem.hint|safe}}
                                            </pre>
                                        </div>
                                    </div>
                                    <button type="button" id="btn-submit" class="btn btn-light6 btn-gradient">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {%endblock%}
    {%block script%}
    <script type="text/javascript">
        jQuery(document).ready(function() {	  
        	// Init Theme Core 	  
        	Core.init();
            HJ();

            $('#btn-submit').click(function(){
                $.getJSON("/user/login_status", function(data){
                    if(data.login_status == false){
                        alert('Please login first.');
                    }else{
                        $('#wnd-submit').modal();
                        var current_height = $(window).height()*3/5;
                        var current_width = $(window).width()*3/5;
                        $('#code_to_submit').height(current_height);
                        $('#code_to_submit').width(current_width);
                        $('.modal-dialog').width(current_width+40)
                        $('#code_to_submit').css("minHeight", current_height);
                        $('#code_to_submit').css("maxHeight", current_height);
                        $('#code_to_submit').css("maxWidth", current_width);
                        $('#code_to_submit').css("minWidth", current_width);
                    }
                });
            });

            $('#btn-submit-confirm').click(function(){
                $('#btn-submit-confirm').attr('disabled',"true")
                $.ajax({
                  url: '/submit',
                  method: 'POST',
                  data: {
                    code:$('#code_to_submit').val(),
                    problem_id:{{problem.id}},
                    compiler:$('#selected_compiler').val(),
                    contest:0
                  },
                  success: function(data){
                    data = $.parseJSON(data);
                    if(data.result == "ok"){
                        window.location.href = "/submissions";
                    }else{
                        alert('Submit failed. Responding message: [' + data.result + "]");
                        $('#btn-submit-confirm').removeAttr("disabled"); 
                    }
                  },
                  type: 'json'
                });
            });
        });
    </script>
<div class="modal fade" id="wnd-submit" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div id="news_window_content">
            <div id="tab-problem-submit" class="tab-pane">
                <textarea class="form-control" id="code_to_submit"></textarea>
                <br/>
                <div class='col-md-3'>
                    <select class="form-control" width='72px' id="selected_compiler">
                        <option value='gcc'>gcc</option>
                        <option value='g++'>g++</option>
                        <option value='python2'>python2</option>
                    </select>
                </div>
                <div class='col-md-3'>
                    <button type="button" id="btn-submit-confirm" class="btn btn-light6 btn-gradient">Confirm</button>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
{%endblock%}