{%extends "base.html"%}
        {%block main%}
        <section id="content">
            <div class="container" style="padding-top: 15px;">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Problem</h1>
                    </div>
                </div>
                <hr class="short" />

                <div class="row">
                    <div class="col-md-12">
                        <div class="panel">
                            <div class="panel-body">
                                <table class="table table-hover table-striped1 text-center    ">
                                    <thead>
                                        <tr>
                                            <td width="15%">ID</td>
                                            <td>Title</td>
                                            <td width="15%">AC ratio</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for p in problems %}
                                        <tr>
                                            <td>{{p.id}}</td>
                                            <td>
                                                <a href="/problem/{{p.id}}">{{p.title}}</a>
                                            </td>
                                            <td>
                                                {%if p.status=="Accepted"%}
                                                    <span style="color: red;">Accepted</span>
                                                {%elif p.status=="Wrong"%}
                                                    <span style="color: blue;">Wrong</span>
                                                {%else%}
                                                    <span></span>
                                                {%endif%}
                                            </td>
                                        </tr>    
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <ul id="paginator-problem-list">
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {%endblock%}
    {%block script%}
    <script type="text/javascript">
        jQuery(document).ready(function() {
        	// Init Theme Core 	  
        	Core.init();
            HJ();
              
            var options = {
        		currentPage: {{current_page}},
        		totalPages: {{total_page}},
        		shouldShowPage:function(type, page, current){
        			switch(type)
        			{
        				case "first":
        				case "last":
        					return true;
        				default:
        					return true;
        			}
        		},
        		onPageChanged: function(e,oldPage,newPage){
                    if({{current_page}} != newPage){
                        window.location.href = '/problems/' + newPage;
                    }
        		}
        	}
        	// init paginator
        	$('#paginator-problem-list').bootstrapPaginator(options);
        });
    </script>
    {%endblock%}

