{%extends "base.html"%}
        {%block main%}
        <section id="content">
            <div class="container" style="padding-top: 15px;">
                <div class="row">
                    <div class="col-md-12">
                        <h1>The Road——submissions and solved problems</h1>
                    </div>
                </div>
                <hr class="short" />
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel" style="margin-bottom: 0px">
                            <div class="panel-body">
                            <h4>AC/submissions: {{count['acc_count']}}/{{count['submit_count']}}</h4>
                            <br>
                            {%for p in submissions%}
                                {%if p.result=="Accepted"%}
                                    <a href="../problem/{{p.problem_title}}" style="color:blue;margin-left: 15px;">{{p.problem_title}}</a>
                                {%endif%}
                            {%endfor%}
                            </div>
                        </div>
                        <div class="panel" style="margin-bottom: 0px">
                            <div class="panel-body">
                                <table class="table table-hover table-striped1 text-center table-striped-color-green" id="submission_table">
                                    <thead>
                                        <tr>
                                            <td width="6%">ID</td>
                                            <td width="6%">Problem</td>
                                            <td width="18%">User</td>
                                            <td width="20%">Result</td>
                                            <td width="9%">Memory</td>
                                            <td width="9%">Time</td>
                                            <td width="6%">Compiler</td>
                                            <td width="6%">Length</td>
                                            <td width="20%">Submit Time</td>
                                        </tr>
                                    </thead>
                                    <tbody id="submission_table_body">
                                        {% for p in submissions %}
                                        <tr>
                                            <td>{{p.id}}</td>
                                            <td><a href="/problem/{{p.problem_title}}">{{p.problem_title}}</a></td>
                                            <td>{{p.username}}</td>
                                            <td><a href="/code/{{p.id}}">{{p.result}}</a></td>
                                            <td>{{p.memory_used}}</td>
                                            <td>{{p.time_used}}</td>
                                            <td>{{p.compiler}}</td>
                                            <td>{{p.code}}</td>
                                            <td>{{p.submit_time}}</td>
                                        </tr>  
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <ul id="paginator-problem-list">
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {%endblock%}
    {%block script%}
    <script type="text/javascript"> 
        jQuery(document).ready(function() {
            // Init Theme Core    
            Core.init();
            HJ();
            var options = {
                currentPage: {{current_page}},
                totalPages: {{total_page}},
                shouldShowPage:function(type, page, current){
                    switch(type)
                    {
                        case "first":
                        case "last":
                            return true;
                        default:
                            return true;
                    }
                },
                onPageChanged: function(e,oldPage,newPage){
                    if({{current_page}} != newPage){
                        if(window.location.pathname == "/submissions/"){
                            window.location.href = '/submissions/' + newPage;
                        }else{
                            window.location.href = '../' + newPage;
                        }
                    }
                }
            }
            // init paginator
            $('#paginator-problem-list').bootstrapPaginator(options);
            // coloring
            $("#submission_table_body").children().each(function(){
                var result = $($(this).children()[3]).text();
                if( $.inArray(result, Array("Accepted","Accept"))!=-1 ){
                    $($(this).children()[3]).find('a').css('color', 'red');
                }
                else if( $.inArray(result, Array("Presentation Error"))!=-1 ){
                    $($(this).children()[3]).find('a').css('color', 'rgb(255, 165, 0)');
                }
                else if( $.inArray(result, Array("Compilation Error", "Compile Error"))!=-1 ){
                    $($(this).children()[3]).find('a').css('color', 'rgb(102, 51, 255)');
                }
                else{
                    $($(this).children()[3]).find('a').css('color', 'rgb(0, 128, 0)');
                }
                var username = $($(this).children()[2]).text();
                if(username.indexOf("_HJ_")>=0){
                    username = username.replace('_HJ_','');
                    username = "<img src='/static/img/logos/HJ-small.png' style='height: 14px;margin-top: 2px;vertical-align:top;'>&nbsp;<span>" + username + "</span>"
                    //username = username.replace('_HJ_', "");
                    $($(this).children()[2]).html(username);
                }
                
            });
            // add code link
            $.getJSON("/user/login_status", function(data){
                if(data.login_status == true){
                    var HJ_username = data.username;
                    if(HJ_username.indexOf("_HJ_")>=0){
                        HJ_username = HJ_username.replace('_HJ_','');
                    }
                    $("#submission_table_body").children().each(function(){
                        var username = $($($(this).children()[2]).children()[1]).text();
                        if(username == HJ_username || data.admin == true){
                            $($(this).children()[6]).html("<a href='/code/"+$($(this).children()[0]).text() + "'>" + $($(this).children()[6]).text() +"</a>");
                        }
                    });
                }
            });
        });
    </script>
    {%endblock%}