{% extends "base.html" %}
        {%block main%}
       <section id="content">
            <div class="container" style="padding-top: 15px;">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Settings Coming Soon</h1>
                    </div>
                </div>
                <hr class="short" />
            </div>
        </section>

        {%endblock%}

    {%block script%}
    <script type="text/javascript" charset="utf-8">
    $(function() {
        Core.init();
        HJ();
    });
    </script>
    {%endblock%}

